body, html {
    height: 100%;
    margin: 0;
}

a {
    margin: 0;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:active {
    color: #000000;
}

.header {
    height: 52px;
    background-color: #ffffff;
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1000px;
}

.logo {
    max-height: 52px;
    /* width: 100px; */
}

.header-button {
    color: black;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.header-button:hover {
    background-color: #E6E8EA;
    color: #2277CC;
    cursor: pointer;
}

.header-buttons {
    height: 100%;
    
    display: flex;
}

.header-button a {
    display: flex;
    height: 100%;
    align-items: center;
}

/*.header-button a:hover {
    display: block;
    background-color: aqua;
} */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


/* CSS button */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}