body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
}
a {
    margin: 0;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a:active {
    color: #000000;
}
.header {
    height: 52px;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    padding: 0 10px;
}
.header-button img {
    height: 24px;
}
.header-button a {
    height: 100%;
}
.logo-link {
    height: 100%;
}
.logo {
    max-height: 52px;
    height: 100%;
    /* width: 100px; */
}
.header-button {
    color: black;
    padding: 0 10px;
    /* margin: 0 10px; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.header-button:hover {
    background-color: #e9f1fa;
    cursor: pointer;
}
.header-buttons {
    height: 100%;
    display: flex;
}
.header-button:hover a {
    display: flex;
    height: 100%;
    align-items: center;
    color: #1f6bb8;
}
.header-button a {
    display: flex;
    height: 100%;
    align-items: center;
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.main-buttons {
    display: flex;
    align-items: center;
}
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 42px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.button-3:hover {
  background-color: #2c974b;
}
.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}
.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.footer {
    font-family: Verdana,Dejavu Sans,Geneva,Tahoma,sans_serif;
    font-size: 12px;
    line-height: 16px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    /* flex: 0 0 auto; */
}
.bottom {
    padding: 8px;
}

.title-big {
    display: inline;
    font-size: 34px;
    margin-bottom: 8px;
}

.title-small {
    display: inline;
    font-size: 16px;
}

.find-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    min-height: 100%;
}

.find-main-title {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    padding-top: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-bottom: 60px;
    /* height: 600px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.find-addAds {
    display: flex;
    justify-content: flex-end;
}

.find-addAds button {
    border: 0;
    padding: 7px 12px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    background: rgb(232, 244, 255);
    height: 43px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.find-criteria {
    /* min-height: 400px; */
    background-color: rgb(234, 234, 234);
    /* max-width: 100%; */
    padding: 30px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 0 20px 0 20px; */
}

.find-input {
    /* margin-right: 20px;
    padding-bottom: 21px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 45%;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
}

.find-input input {
    height: 32px;
    width: 100%;
    margin: 0;
    padding: 0 9px 0 9px;
    border: 1px solid #ccc;
}

.find-input-label {
    margin-bottom: 7px;
}

.find-button {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
}

.find-button-clear {
    display: flex;
    align-items: center;
}

.find-button-clear-btn {
    margin: 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(140, 150, 157);
    border-bottom: 1px dashed;
    cursor: pointer;
}

.find-input-select {
    height: 34px;
    /* padding: 0 9px; */
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 2px;
}

.find-input-select option {
    height: 34px;
    margin: 0;
    border: 1px solid #ccc;
}

.find-input-div {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 100%;
    margin-left: 12px;
}

.find-input-div div {
    margin: 0 0 0 5px;
}

.find-content {
    padding: 52px 0 0 0;
}

.find-content-head {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 0 17px 0;
}

.find-content-head-countAdsAndSort {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .find-content-head-countAdsAndSort span {

} */

/* .find-content-listCards {
    
} */

.find-content-card {
    padding: 7px;
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 100%;
    display: flex;
}

.find-content-card:hover {
    cursor: pointer;
    background-color: #e8f4ff;
}

.find-content-card-picture {
    min-width: 178px;
    width: 178px;
    height: 136px;
}

.find-content-card-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.find-content-card-description {
    margin: 0 0 0 16px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: rgb(57, 68, 79);
}

.find-content-card-description-nameYearDriverCostCityFavourite {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.find-content-card-description-nameYearDriver {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.find-content-card-description-nameYear {
    display: flex;
    justify-content: space-between;
}

/* .find-content-card-description-name {
    
} */

.find-content-card-description-name-first {
    margin: 0 6px 0 0;
    font-weight: bold;
}

.find-content-card-description-name-second {
    font-size: 14px;
    color: rgb(140, 150, 157);
    font-weight: normal;
    text-transform: capitalize;
}

.find-content-card-description-year {
    font-size: 14px;
    
}

.find-content-card-description-driver span{
    color: rgb(71, 140, 200);
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 11px;
    background: rgb(232, 244, 255);
}

.find-content-card-description-costCityFavourite {
    min-width: 170px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.find-content-card-description-cost {
    font-weight: bold;
}

.find-content-card-description-city {
    margin-top: 8px;
    font-size: 12px;
}

.find-content-card-description-favourite {
    font-size: 12px;
    margin-top: 6px;
    display: flex;
    
}

.find-content-card-description-ownerDate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: flex-end
}

.find-content-card-description-owner a {
    color: #478cc8;
    cursor: pointer;
    font-size: 12px;
}

.find-content-card-description-date {
    margin-right: 8px;
    opacity: 0.5;
    font-size: 12px;
}

.find-pagination {
    padding: 17px 0 0 7px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 54px 0;
}

.find-pagination input {
    width: fit-content;
    line-height: 17px;
    width: 30px;
    height: 17px;
    border-radius: 2px;
    appearance: none;
}

.find-pagination span {
    color: rgba(57,68,79,.4);
    font-size: 14px;
    margin: 0 8px 0 8px;
}

.adding-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    min-height: 100%;
    
}

.adding-main-head {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.adding-main-head-title {
    font-size: 34px;
}

/* .adding-main-head-btnClear {
    display: flex;
} */

.adding-main-head-btnClear button {
    padding: 7px 20px;
    height: 28px;
    line-height: 12px;
    font-size: 11px;
    border-width: 1px;
    border: 1px solid #478cc8;
    vertical-align: middle;
    border-radius: 42px;
    color: #478cc8;
    background-color: transparent;
    cursor: pointer;
}

.adding-main-containers {
    width: 100%;
}

.adding-main-containers-cont {
    margin: 10px 0 0 0;
    font-size: 12px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background-color: #ffffff;
    padding: 18px 25px 25px;
    display: flex;
    flex-direction: column;
}

.adding-body {
    background-color: rgb(241, 241, 241);
}

.adding-main-containers-cont-header {
    color: rgb(184, 184, 184);
    font-size: 16px;
    padding: 0 0 12px 0;
    display: flex;
    justify-content: space-between;
}

.adding-main-containers-cont-include select {
    height: 34px;
    margin: 0;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    width: 210px;
}

.adding-main-containers-cont-header select {
    height: 34px;
    margin: 0;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    width: 210px;
}

.adding-main-containers-cont-include {
    display: flex;
    margin: 16px 0;
    padding: 0 24px;
    align-items: center;
}

.adding-main-containers-cont-include-charName {
    min-width: 128px;
    max-width: 128px;
}

.adding-main-containers-cont-include-charValue {
    display: flex;
    flex-direction: column;
}

.adding-main-containers-cont-include-charValue div {
    display: flex;
    
}

.adding-addBtn {
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.adding-main-containers-cont-include-charValue div input {
    margin: 0 8px 8px 0;
}

.adding-main-containers-cont-include-charValue input[type=text] {
    height: 32px;
    width: 100%;
    margin: 0;
    padding: 0 9px 0 9px;
    border: 1px solid #ccc;
}

.redStar {
    color: #d0021b;
    font-size: 14px;
}

.adding-main-btnSubmit {
    margin: 25px 0 50px 0;
    padding: 15px 28px;
    background-color: #478cc8;
    color: #fff;
    border-radius: 42px;
    cursor: pointer;
    border: 1px solid #478cc8;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 20px; */
    margin: 20px 0;
    /* height: 100%; */
    color: #39444f;
}

.profile-main-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 100%;
    max-width: 1000px;
    width: 100%;
    padding: 0 10px;
}

.profile-main-container-head {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-main-container-head b {
    font-size: 30px;
    margin: 0 0 32px 0;
}

.profile-main-container-blocks {
    display: flex;
    justify-content: center;
}

.profile-main-container-blocks-avatar {
    max-width: 200px;
    /* width: fit-content; */
    margin: 0 50px;
    margin: 0 70px 12px 0;
}

.profile-main-container-blocks-avatar div {
    margin: 0 0 12px 0;
}

.profile-main-container-blocks img {
    width: 100%;
}

.profile-main-container-blocks-inputs-input {
    margin: 12px 0 0 0;
}

.profile-main-container-blocks-inputs-input h5 {
    font-size: 14px;
    font-weight: lighter;
    margin: 8px 0;
    
}

.profile-main-container-blocks-inputs-input input {
    height: 30px;
    width: 300px;
}

.profile-main-container-blocks-inputs-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 37px 0 0 0;
}

.adv-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 20px; */
    margin: 20px 0;
    /* height: 100%; */
    color: #39444f;
}

.adv-main-contnr {
    height: 100%;
    max-width: 1000px;
    width: 100%;
    padding: 20px 10px 0 10px;
}

.adv-main-contnr-content {
    display: flex;
    
}

.adv-main-contnr-content-left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex: 2 1 0%;
}

.adv-main-contnr-content-right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex: 1 1 0px;
    margin: 0 0 0 32px;
}

.adv-main-contnr-content-left-head {
    width: 100%;
    font-size: 34px;
}

.adv-main-contnr-content-right-head {
    width: 100%;
    font-size: 26px;
    line-height: 41px;
}

.adv-main-contnr-content-left-cCityFavourite {
    margin: 20px 0 16px 0;
    display: flex;
    justify-content: space-between;
}

.adv-main-contnr-content-left-city {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.adv-main-contnr-content-left-favourite {
    font-size: 12px;
    color: #478cc8;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.adv-main-contnr-content-left-favourite div {
    border-bottom: 1px dotted #c6d7e6;
}

.adv-main-contnr-content-left-favourite div:hover {
    border-bottom: 1px solid #71b1e8;
}

/* .adv-main-contnr-content-left-images {
    width: 100%;
} */

.adv-main-contnr-content-left-images img {
    width: 100%;
}

.adv-main-contnr-content-left-owner {
    margin: 30px 0 0 0;
    padding: 18px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.adv-main-contnr-content-left-owner-title {
    font-size: 23px;
}

.adv-main-contnr-content-left-owner-firm {
    font-size: 14px;
    margin: 14px;
    display: flex;
}

.adv-main-contnr-content-left-owner-firm-avatarInfo {
    display: flex;
}

.adv-main-contnr-content-left-owner-firm-avatarInfo img {
    /* width: 64px; */
    /* width: 100%; */
    height: 64px;
}

.adv-main-contnr-content-left-owner-firm-avatarInfo-info {
    margin: 0 12px;
}

/* .adv-main-contnr-content-left-owner-firm-avatarInfo-info-name {

} */

.adv-main-contnr-content-left-owner-firm-avatarInfo-info-name a {
    color: #478cc8;
}

.adv-main-contnr-content-left-owner-firm-btnGetContact {
    display: flex;
    align-items: center;
}

.adv-main-contnr-content-left-owner-firm-btnGetContact  button{
    height: fit-content;
    width: fit-content;
}

.adv-main-contnr-content-left-description {
    margin: 25px 0 45px 0;
}

.adv-main-contnr-content-left-description-title {
    font-size: 26px;
}

.adv-main-contnr-content-left-description-text {
    margin: 16px 0 0 0;
    font-size: 14px;
    white-space: pre-line;
    word-break: break-word;
}

.adv-main-contnr-content-right-dateViews {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 16px 0;
    color: #596e81;
    font-size: 12px;
    opacity: 0.5;
}

.adv-main-contnr-content-right-charstable {
    font-size: 14px;
    padding: 24px 0px 12px;
    /* max-width: 370px; */
    margin-bottom: 16px;
    background-color: rgb(237, 243, 249);
    border-radius: 8px;
}

.adv-main-contnr-content-right-charstable-char {
    padding: 0 24px;
    display: flex;
}

.adv-main-contnr-content-right-charstable-char-name {
    flex: 2 1 0;
    opacity: 0.5;
}

.adv-main-contnr-content-right-charstable-char-value {
    flex: 3 1 0;
}

.borderBot {
    border-bottom: 1px solid rgba(56, 69, 79, 0.1);
}

.opacity05 {
    opacity: 0.5;
    display: inline;
}

.paddingTop16 {
    padding-top: 16px;
}

.paddingBot12 {
    padding-bottom: 12px;
}

.msgr-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 20px 0; */
    height: 90%;
    color: #39444f;
}

.msgr-main-cntr {
    /* padding: 0 10px; */
    display: flex;
    width: 100%;
    margin: auto;
    /* max-width: 1000px; */
    min-height: 100%;
}

.msgr-main-cntr-left {
    flex: 1 1 0;
    border-right: 1px solid #ccc;
    background-color: #eee;
}

.msgr-main-cntr-right {
    flex: 2 1 0;
    display: grid;
    align-content: space-between;
}

.msgr-main-cntr-left-chat {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.chat-active {
    background-color: #e8f4ff;
}

.msgr-main-cntr-left-chat:hover {
    width: 100%;
    display: flex;
    background-color: #e8f4ff;
    cursor: pointer;
}

.msgr-main-cntr-left-chat-avatar {
    width: fit-content;
    height: fit-content;
}

.msgr-main-cntr-left-chat-avatar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 12px 0 12px 12px;
    border-radius: 100px!important;
}

.msgr-main-cntr-left-chat-username {
    width: 100%;
    margin: 10px 8px 0;
}

.msgr-main-cntr-left-chat-username-name {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 6px;
    padding-top: 4px;
    max-height: 20px;
}

.msgr-main-cntr-left-chat-username-company {
    color: #8c969d;
    font-size: 12px;
    max-width: 214px;
}

.msgr-main-cntr-right-head {
    background-color: #fff;
    padding: 12px 25px 12px 16px;
    border-bottom: 1px solid #ccc;
    max-height: 66px;
    display: flex;
    justify-content: space-between;
}

.msgr-main-cntr-right-head-user {
    display: flex;
}

/* .msgr-main-cntr-right-head-user-avatar {

} */

.msgr-main-cntr-right-head-user-avatar img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin: 0 12px 0 0;
    border-radius: 100px!important;
}

/* .msgr-main-cntr-right-head-info-name {

} */

.msgr-main-cntr-right-head-info-comp {
    font-size: 12px;

}

.msgr-main-cntr-right-head-info-comp a {
    text-decoration: underline;
    color: #8c969d;
}

.msgr-main-cntr-right-msgInput {
    background: #f1f1f1;
    padding: 12px 19px 12px 19.5px;
    display: flex;
    align-items: center;
}

.msgr-main-cntr-right-msgInput input {
    margin-left: 20px;
    width: 100%;
    outline: none;
    line-height: 16px;
    min-height: 16px;
    /* height: 100%; */
    border-radius: 2px;
    background: #fff;
    padding: 8px;
    border: 1px solid #fff;
}

.msgr-main-cntr-right-msgInput button {
    padding: 5px 20px;
    font-size: 11px;
    margin-left: 18px;
}

.myAds-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    min-height: 100%;
}

.myAds-main-title {
    font-size: 26px;
    padding: 0 0 20px 0;
}

.myAds-main-cont {
    display: flex;
    flex-direction: column;
}

.myAds-main-cont-tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #d7d7d7;
}

.myAds-main-cont-tabs-t {
    padding: 18px 14px 17px 14px;
    font-size: 12px;
    cursor: pointer;   
}

.myAds-main-cont-tabs-t:hover {
    color: rgb(58, 123, 191);
}

.selectedTab {
    border-bottom: 5px solid rgb(71, 140, 200);
}